:root{
    --heav:linear-gradient(rgb(25, 9, 252),rgba(245, 26, 26, 0.877));
    --realm: linear-gradient(rgb(212, 235, 248) ,rgb(18, 117, 230) );
    --storm: linear-gradient(rgb(223, 223, 26) ,rgb(143, 145, 32) );
}

html{
    scroll-behavior: smooth;
}


div, body, header, footer{
    display: flex;
    flex: 1;
}

body{
    flex-direction: column;
    /* background-image: url("../Ressources/ff14.png");
    background-color: rgb(36, 34, 34); */
}

.colonne{
    flex-direction: column;
}

img{
    width: 100%;
}

.espaceHor{
    height: 4vh;
}

.petit{
    font-size: 10px;
}

/******** Header **********/
.titre{
    justify-content: center;
    align-items: center;
    flex: 4;
}

.logo{
    flex: 0.3;
}

.login{
    flex: 0.3;
}

/******* Nav ********/

nav{
    display: flex;
    position: sticky;
    top: 1em;
}

.blocMenu{
    flex: 4;
}

.menu{
    border: black 1px solid;
    border-radius: 1em;
}

.bouton{
    align-items: center;
    justify-content: center;
}

a{
    text-decoration:none;
}

.blocMenu .espace{
    flex:0.1;
}

#RealmReborn{
    background: var(--realm);
    border-radius: 1em;
}

#Heavensward{
    background: var(--heav);
    border-radius: 1em;
}

#Stormblood{
    background: var(--storm);
    border-radius: 1em;
}

/********* Page ***********/

.page{
    display:block;
    width: 80%;
    align-self: center;
}

.texte{
    text-align: justify;
    display: block;
    padding : 0 1em ;
}

.blocImages{
    flex: none;
    width : 80%;
    align-self: center;
    margin-top: 2.5vh;  
}

.blocImages .espace{
    flex:0.2;
}

/******* Footer *******/

.top{
    flex: 0.2;
}

footer .texte{
    align-self:flex-end;
}